/*:root {
  --purple: var(--purple);
  --background: var(--purple);
}
*/

body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/003/226/310/original/halloween-dark-night-scenery-background-concept-free-vector.jpg");
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: purple;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.countdown-timer {
  color: white;
}

.costume-container {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

/*.costume-card {
  margin: 1rem;
  box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
}*/

.costume-card {
  margin: 1rem;
  /*box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;*/
  width: 300px;
 /* From https://css.glass */
  background: rgba(219, 204, 204, 0.45);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(219, 204, 204, 0.21);
}

.costume-card .costImage {
  height: 225px;
  position: relative;
  width: 300px;
  display: flex;
  justify-content: center;
}

/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: purple;
  box-shadow: 0 0 7px 0 #ddd;
  border-bottom: 1px solid #ccc;
} */

.navbar {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 10px;
  width: 50%;
  box-sizing: border-box;
  border: solid orange 2px;
  padding: 10px;
  flex: 250px;
  display: flex;
  justify-content: space-around;
  
}


.navItem {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem;
  
}

.pageTitle {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.spooky-stories-container {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.spooky-story-card {
  margin: 1rem;
  /*box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;*/
  width: 300px;
 /* From https://css.glass */
  background: rgba(219, 204, 204, 0.45);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(219, 204, 204, 0.21);
}

.spooky-story-card .spooky-image {
  height: 225px;
  position: relative;
  width: 300px;
  display: flex;
  justify-content: center;
}

.stories-header {
  text-align: center;
}

.story-detail-page {
  margin: 1rem;
  /*box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;*/
  
 /* From https://css.glass */
  background: rgba(219, 204, 204, 0.45);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(219, 204, 204, 0.21);
}

.stories-header {
  text-align: center;
}

.stories-form {
  margin: 1rem;
  /*box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;*/
  
 /* From https://css.glass */
  background: rgba(219, 204, 204, 0.45);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(219, 204, 204, 0.21);
}